#panel {
	background:yellow; border: 3px dashed grey; visibility: hidden; position: fixed; top:5px; 
	background: white; width: 90%; height: 90%; top:5%; left:5%;
	background: green;
}
.exemplar {
	border:0px solid lightgrey; margin:0px; cursor:pointer;
	/* https://stackoverflow.com/questions/2491068/does-height-and-width-not-apply-to-span/2491072#2491072 */
	/*display:inline-block; height:100px;*/
	display:inline;
}
.exemplar:hover, .exemplar:active {
	background-color: lightgrey;
}

.campo {
	font-weight: bold;
}
.label_exsic {
	font-weight: bold;
}
.label_taxon {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2;
}
.oculto {
	display:none;
}
.visor {
	background:white;
	position:absolute; width:95%; height:95%; right:0px;
	overflow-y:scroll; overflow-x:hidden;
}
.imaxe {
	border:2px dashed grey; cursor:pointer;
}
.label {
	border: 1px solid black;
	padding: 10px;
	width: 90%;
	max-width: 400px;
	background-color: burlywood;
}
.imaxe:hover {
	border-style:solid; border-color: blue;
	border: 3px solid blue;
}
.close {
	cursor:pointer; 
	border:2px solid black; background:lightgrey; font-weight: bold;
	position:absolute; padding:3px;
}